
    <br />

        <h3 class="text-center" id="titlenet">Estado de la Red</h3>
        <div class="container" id="boxconnection">
            <div class="row">
                <div class="col-md-12 text-center">
                    sco1
                </div>              
                <div class="col-md-12 text-center">
                    sco2
                </div>
                <div class="col-md-12 text-center">
                    co1
                </div>
                <div class="col-md-12 text-center">
                    co2
                </div>
                <div class="col-md-12 text-center">
                    undefine
                </div>
            </div>
        </div>
    <br />
