<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--  <link rel='stylesheet' href='/stylesheets/bootstrap-vue.min.css' /> -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/fontawesome-free-6.1.2-web/css/all.min.css' />
  <!--  <script src="/javascripts/bootstrap-vue.min.js"></script> -->
    <script src="/fontawesome-free-6.1.2-web/js/all.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  <!--  <script src="/javascripts/bootstrap-vue.common.min.js"></script> -->
  </head>
  <body>
